body{
    max-width: 900px;
    margin: auto;
    font-family: Arial;
}
#showcase{
    background-color: #f5f5f5;
}

#Menu{
    background-color: #0b3b54;
    padding: 20px 0px;
}
#content{
    margin: 12px;
}


li{
    display: inline;
  }

h1{
    font-family: Arial;
    margin: 24px;
    margin-right: 48px;
    display: inline;
    font-weight: bold;
    font-size: 24px;
    color:#c9a920;   
}

h2{
    margin: 24px;
    font-weight: bold;
    font-size: 18px;
}


.button{
    font-weight: normal;
    font-size: 18px;
    color:#c9a920;
    text-decoration: none;
    padding: 0px 15px;
}

.button:hover{
background: #c9a920;
color: #0b3b54;
padding: 10px 15px;
border-radius: 10px;
}

.picture{
    width: 300px;
    height: 250px;
    background: url(../img/1.jpg);
    background-position-x: -450px;
    background-position-y: -150px;
    margin: 0px 12px 12px 12px;
    float: left;
}

#text {
    text-align: justify;
    margin: 12px;
    
}

form{
    margin: 0px 12px 12px 12px;
    float: right;
    border:1px double black;
}
#form_content{
 padding: 12px;
 line-height: 25px;   
}





